<h1>{{ title }}</h1>

<ul>
  {{#each users}}
    <li>
        {{ StudentNumber }} / {{ Name }} / {{ Grade }} / {{ Major }} / {{Date_of_Admission}} / {{Email}}
      </a>
    </li>
  {{/each}}
</ul>