<h1>항공편 삭제</h1>

<table>
  <tr>
    <td>Flight_number</td>
    <td>Leg_number</td>
    <td>Date</td>
    <td>Number_of_available_seats</td>
    <td>Airplane_id</td>
    <td>Departure_airport_code</td>
    <td>Departure_time</td>
    <td>Arrival_airport_code</td>
    <td>Arrival_time</td>
  </tr>
  {{#each flight_leg}}
    <form method="post">
      <tr>
        <td>{{Flight_number}}</td>
        <td>{{Leg_number}}</td>
        <td>{{Date}}</td>
        <td>{{Number_of_available_seats}}</td>
        <td>{{Airplane_id}}</td>
        <td>{{Departure_airport_code}}</td>
        <td>{{Departure_time}}</td>
        <td>{{Arrival_airport_code}}</td>
        <td>{{Arrival_time}}</td>
        <td style="border: none; margin-left: 10px;">
          <button 
            style="margin-left: 10px;"
            type="submit" 
            name="number_of_available_seats"
            value={{Number_of_available_seats}} 
            formaction="/delete/adminFlightleg">
          삭제
          </button>
        </td>
      </tr>    
    </form>
  {{/each}}
</table>