<h1>공항 삭제</h1>

<table>
  <tr>
    <td>Airport_code</td>
    <td>Name</td>
    <td>City</td>
    <td>State</td>
  </tr>
  {{#each airport}}
    <form method="post">
      <tr>
        <td>{{Airport_code}}</td>
        <td>{{Name}}</td>
        <td>{{City}}</td>
        <td>{{State}}</td>
        <td style="border: none; margin-left: 10px;">
          <button 
            style="margin-left: 10px;"
            type="submit" 
            name="name"
            value={{Name}} 
            formaction="/delete/adminAirport">
          삭제
          </button>
        </td>
      </tr>    
    </form>
  {{/each}}
</table>