<h1>예약 조회</h1>

<table>
  <tr>
    <td>Flight_number</td>
    <td>Leg_number</td>
    <td>Date</td>
    <td>Seat_number</td>
    <td>Customer_name</td>
    <td>Customer_phone</td>
  </tr>
  {{#each seat_reservation}}
  <tr>
    <td>{{Flight_number}}</td>
    <td>{{Leg_number}}</td>
    <td>{{Date}}</td>
    <td>{{Seat_number}}</td>
    <td>{{Customer_name}}</td>
    <td>{{Customer_phone}}</td>
  </tr>
  {{/each}}
</table>