<h1>{{ title }}</h1>

<table>
  <tr>
    <td>Dname</td>
    <td>Dnumber</td>
  </tr>
  {{#each department}}
  <tr>
    <td>{{Dname}}</td>
    <td>{{Dnumber}}</td>
  </tr>
  {{/each}}
</table>

<h2>{{ title2 }}</h2>

<table>
  <tr>
    <td>Sname</td>
    <td>Snumber</td>
  </tr>
  {{#each student}}
  <tr>
    <td>{{Sname}}</td>
    <td>{{Snumber}}</td>
  </tr>
  {{/each}}
</table>